body{
	font-family: arial;

}

.not-displayed{
	display: none;
}

.body-content-container{
	width: 100vh;

}


#calendar{
	height: 100%;
	width: 100%;
}

#about-img-holder{
	height: 400px;
	width: 300px;
}

.fc-today{
	background-color: #ffffad !important;
	font-weight: bold;
}

#legend-box-container.backend-only{
	display: grid;
	grid-template-columns: 400px 1fr;
}

table{
	border-collapse: collapse;
	width: 100%;
}

table, th, td{
	border: 1px solid black;
}

.backend-img-thumb{
	height: 100px;
	width: 100px;
}

.modal-popup{
	position: fixed;
	z-index: 3000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	overflow: hidden;
	background-color: rgba(0,0,0,0.5);
	display: none;
}

.modal-content{
	/*width: 500px;*/
	box-shadow: 1px 1px 3px 0 black;
	animation-name: modalopen;
	-webkit-animation-name: modalopen;
	animation-duration: 1s;
	-webkit-animation-duration: 1s;
	margin: auto;
	overflow: hidden;
	background: white;
}

.modal-header{
	border-bottom: 1px solid #e5e5e5;
	padding: 15px;
	display: grid;
	grid-template-columns: 1fr 100px;
	align-items: center;
	background-color: #98fb98;
}


.modal-header-text{
	font-size: 2rem;
}

.modal-close-btn{
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 50%;
	border: 1px solid white;
	text-align: center;
	justify-self: end;
	color: white;
	font-size: 20px;
	cursor: pointer;
}

.modal-close-btn:hover{
	font-weight: bold;
	color: white;
	border: 3px solid white;
}

.actual-row{
	cursor: pointer;
}

.tab-container{
	height: 15%;
}

.tab-container button{
	/*width: 50%;*/
	height: 100%;
	/*float: left;*/
	border: none;
	outline: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
	background-color: #eee;
}

.tab-container button:hover{
	background-color: #d7d4d4;
}

.tab-panel{
	height: 85%;
	background-color: gray;
	color: white;
	box-sizing: border-box;
	display: none;
	padding: 10px;
}

#patient-services-div{
	background: white;
	color: black;
}

.modal-label{
	display: block;
	font-weight: bold;
}

.modal-input{
	display: block;
	padding: 5px;
	width: 100%;
	box-sizing: border-box;
}

.modal-form{
	padding-top: 30px;
}

.required-asterisk{
	color: red;
	font-weight: bold;
}

.centered{
	text-align: center;

}

#testi-instructions{
	font-size: 0.8rem;
}

.modal-img-btn, .modal-img-btn2, .modal-clear-img, .modal-clear-img2, .admin-clear-img, .admin-img-btn, .logo-img-btn, .about-img-btn, #submit-about-img-form{
	cursor: pointer;
	border: 0;
	font-size: 0.8rem;
	padding: 5px;
	box-sizing: border-box;
}

#submit-about-img-form{
	background: yellow;
}

#about-img, #modal-img, #modal-img2, #admin-img, #logo-img{
	opacity: 0;
	position: absolute;
	z-index: -1;
}

.modal-preview-img, .modal-preview-img2, .admin-preview-img, #about-img-holder{
	display: block;
	border-radius: 50%;
	margin: auto;
	border: 3px solid black;
}

.modal-img-btn, .modal-img-btn2, .admin-img-btn, .logo-img-btn, .about-img-btn{
	color: white;
	background-color: green;
	display: block;
	text-align: center;
	margin-bottom: 5px;
	display: inline-block;
}

.modal-clear-img, .modal-clear-img2, .admin-clear-img{
	display: block;
	background-color: #E3DEDB;
	display: inline-block;
}

.modal-footer{
	text-align: center;
	padding: 10px;
}

.modal-btn{
	cursor: pointer;
}

#wew{
	margin: 0;
}

#modal-img-options, #admin-img-options, #about-img-btn-container{
	text-align: center;
	margin-top: 10px;
}

#about-img-section{
	width: 30%;
}

#modal-bio-container, .modal-instructions{
	grid-column: span 3;
}

.modal-instructions{
	text-align: center;
	margin-top: 0;
}

.modal-selected-id{
	font-weight: normal;
}

.modal-preview-img, .admin-preview-img{
	height: 100px;
	width: 100px;
}

.modal-halved{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 5px;
}

#reschedule-form-content{
	display: none;
	background: white;
}

#reschedule-form-content #resched-form-header span{
	display: block;
}


#reschedule-form-content #resched-form-header span:first-child{
	font-size: 0.9rem;
}

#current-appointment-span{
	margin-top: 30px;
}

#reschedule-form-content #resched-form-header #current-appointment-date, #reschedule-form-content #resched-form-header #current-appointment-start, #reschedule-form-content #resched-form-header #current-appointment-end, #reschedule-form-content #resched-form-header #new-appointment-date, #reschedule-form-content #resched-form-header #new-appointment-start, #reschedule-form-content #resched-form-header #new-appointment-end{
	font-weight: bold;
	display: inline;
	font-size: 1rem;
}

#first-modal-element{
	margin-bottom: 30px;
}

#individual-category-table-body select, .full-width-btn{
	width: 100%;
}

.confirm-reschedule-btn{
	float: right;
	border: 0;
	background: green;
	color: white;
	cursor: pointer;
	padding: 15px;
	font-size: 1.2rem;
}

.confirm-cancel-btn{
	float: right;
	border: 0;
	background: red;
	color: white;
	cursor: pointer;
	padding: 15px;
	font-size: 1.2rem;
}

#cancellation-form-content{
	display: none;
	padding: 15px;
}

#cancellation-reason{
	width: 100%;
}

.inside-form-footer{
	clear: both;
	overflow: hidden;
	margin-top: 30px;
	padding: 0 15px;
}
#working-days-table td > input{
	box-sizing: border-box;
	width: 100%;
}

#resched-form-halved{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 30px;
}

#reschedule-calendar .fc-body .fc-row {
	min-height: 15px; 
}

#resched-form-halved > div{
	padding: 15px;
	box-sizing: border-box;
}

#resched-form-halved > div:first-child{
	border-right: 1px solid black;
}

#contact-form-container{
	background-color: white;
	padding: 40px;
	min-height: 500px;
}

#contact-divider{
	display: grid;
	grid-template-columns: 2fr 1fr;
	grid-gap: 1rem;
	margin-top: 50px;
}

.mapouter{
	margin-top: 50px;
}

#main-container, #contact-sidebar-header, #contact-sidebar-content{
	background-color: #e5e5e5;
}

#contact-us-header{
	color: green;
}

#contact-us-subtitle{
	color: gray;
	font-size: 0.8rem;
}

#contact-form{
	margin-top: 50px;
}

#contact-form-submit{
	color: black;
	padding: 10px;
	cursor: pointer;
	background-color: #98fb98;
	border: 0;
}

#contact-form-submit:hover{
	color: white;
	background: green;
	transition: 0.5s ease-in;
}

.contact-input{
	padding: 5px;
	width: 65%;
	display: block;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.contact-label{
	display: block;
	font-weight: bold;
}

#contact-sidebar-header{
	margin-bottom: 1rem;
	height: 90px;
	box-sizing: border-box;
	padding: 40px;
	text-align: center;
	color: green;
	font-size: 20px;
}

#contact-sidebar-content{
	box-sizing: border-box;
	padding: 10px 30px;
	height: calc(100% - 106px);
}

#contact-sidebar-content p{
	display: grid;
	grid-template-columns: 1fr 3fr;
	align-items: center;
}

#contact-sidebar-content p span:nth-child(2){
	font-size: 0.9rem;
	color: gray;
}

#contact-main-header{
	color: green;
	text-align: center;
	margin: 0;
}

#contact-subtitle{
	font-size: 0.8rem;
	color: gray;
	text-align: center;
}

#main-container{
	padding: 20px;
}

#contact-sidebar{
	height: 100%;
}

.contact-icon{
	color: green;
	font-size: 50px;
}

#backend-messages-popup-body{
	padding: 15px;
}



#providers-select{
	margin-top: 30px;
	margin-bottom: 20px;
	padding: 5px;
}

#reports-filter{
	margin-top: 30px;
	padding: 5px;
}

.backend-body-mid-menu{
	margin-top: 30px;
}

.backend-body-add-btn{
	background-color: green;
	color: white;
	padding: 5px;
	border: 0;
	font-size: 1.1rem;
}

#instruction{
	color: gray;
	font-size: 0.9rem;
}

th{
	background-color: green;
	color: white;
	padding: 5px;

}

.actual-row:nth-of-type(1n){
	background-color: white;
}

.actual-row:nth-of-type(2n){
	background-color: #ccc;
}

.actual-row:hover{
	background-color: gray;
	color: white;
}

.actual-row td{
	text-align: center;
}

.modal-img-btn, .modal-img-btn2{
	background-color: green;
}

#search-btn, #submit-about-page-info, .add-modal-btn, .delete-modal-btn, .update-modal-btn, .approve-testi-btn, .hide-testi-btn, .delete-testi-btn, #add-closed-day, #save-clinic-hours{
	border: 0;
	color: white;
	padding: 5px;
}

#submit-about-page-info{
	padding: 10px;
	font-size: 1.2rem;
	margin-top: 20px;
}

#search-btn, .add-modal-btn, .approve-testi-btn, #add-closed-day, #save-clinic-hours, #submit-about-page-info, #submit-company-form{
	background-color: green;

}

.delete-modal-btn, .delete-testi-btn{
	background-color: red;
}

.update-modal-btn, .hide-testi-btn{
	background-color: orange;
}

#user-appointment-type{
	padding: 5px;
	margin-bottom: 15px;
}

#modal-img-container{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

#display-order-div{
	margin-top: 40px;
}

#services-thumbs img{
	height: 30px;
	width: 30px;
}

#delete-img, #upload-img, #prev-reports, #next-reports, #submit-company-form{
	color: white;
	padding: 5px;
	border: 0;
}

#delete-img{
	display: none;
	background-color: red;
}

#upload-img, #prev-reports, #next-reports{
	background-color: green;
}

#reports-btn{
	margin-top: 20px;
}

#next-reports{
	float: right;
}

#showcase-section, 
#facilities-section{
	display: grid;
	grid-template-columns: 0.3fr 1fr;
	grid-gap: 1rem;
}

#img-container, #img-container2{
	margin-bottom: 30px;
}

#img-container img, #img-container2 img{
	height: 200px;
	width: 200px;
}

#showcase-card-display-order{
	width: 100px;
}

#cms-status-container{
	margin-bottom: 30px;
	margin-top: 25px;
	margin-left: -5px;
}

#cms-status{
	padding: 5px;
}

#submit-showcase-form, #submit-facilities-form{
	margin-top: 15px;
	padding: 10px;
	font-size: 1.2rem;
	border: 0;
	color: white;
	background: green;
}

#update-home-info{
	border: 0;
	color: white;
	background: green;
	padding: 5px;
	margin-top: 10px;
}

#report-container h1{
	text-align: center;
}

#report-container{
	padding: 20px;
	background: #d5d5d5;
}

#report-main{
	width: 60%;
	margin: auto;
	margin-top: 50px;
}

#report-info{
	display: grid;
	grid-template-columns: 0.15fr 1fr;
	grid-gap: 1rem;
}

.colored-div{
	margin-bottom: 1rem;
	text-align: center;
	font-weight: bolder;
	font-size: 1.3rem;
	color: white;
	background: green;
	padding: 10px;
}

.white-div{
	padding: 10px;
	background-color: white;
	font-size: 1.1rem;
	margin-bottom: 1rem;

}

#contact-info{
	width: 50%;
}

#appointment-table{
	margin-top: 50px;
}

#appointment-instructions h1{
	text-align: center;
}

#appointment-instructions{
	height: 635px;
	width: 450px;
	background: #d5d5d5;
	position: absolute;
	top: 200px;
	right: 15px;
	padding-right: 10px;
	box-sizing: border-box;
}

#appointment-instructions img{
	display: block;
}

.reschedule-modal-btn{
	color: white;
	background: green;
	border: 0;
	padding: 5px;
}

.cancel-modal-btn{
	color: white;
	background: red;
	border: 0;
	padding: 5px;
}

ol{
	margin: 0;
	margin-top: 50px;
}

ol li{
	margin-top: 10px;
	margin-bottom: 40px;
}


@-webkit-keyframes modalopen{
	from{opacity: 0}
	to{opacity: 1}
}

@keyframes modalopen{
	from{opacity: 0}
	to{opacity: 1}
}



@media (max-width: 1000px){
	#contact-divider{
		grid-template-columns: 1fr;
	}
}